# Virtual environments
venv/
.env/
.venv/
env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / dist
build/
dist/
*.egg-info/

# Environment / secrets
*.env
.env.*
*.log

# IDE / editor files
.vscode/
.idea/

# Tests cache
.pytest_cache/

# Local config
.DS_Store
